#myDIV {
    position: absolute;
    padding: 16px;
    border-radius: 13px;
    display: none;
    height: 115px;
    margin-top: 45px;
    margin-left: -24px;
    z-index: 1;
    box-shadow: 0px 1px 9px #70e0e5;
    background: white;
}
  
  #login:hover ,#signup:hover {
    border: 2px solid  ;  
    background:  #3be0f3;
    transition: .5s;
  }
  
  #signup, #login {
    border: 2px solid #970147;
    margin-top: 10px;
    background: none;
    border-radius: 5px;
    font-size: 11px;
    text-align: center;
    margin-left: -1px;
}
  #signup a,#login a {
    text-decoration: none;
    text-transform: uppercase!important;
    padding: auto;
  }
  
  #faa {
    top: -21px;
    left: 153px;
    font-size: 25px;
}
#xion {
  margin-left: 76px;
    padding-top: 39px;

}