
/*miniecran*/
@media only screen and (min-width:320px) and (max-width: 480px){

    #faaa{
        color: #95094d;
        margin-left: 10px;
        top: 57px;
        font-size: 26px!important;
    }

    h1{
        margin: 5px 0px 2px 4px!important;
    }
    .imagetech,.imagefonhom,.imagfonfem {
        display: contents;}
/*les fonts*/
    h1{
        margin: 35px 0px 45px 67px;
    }

    /*menu de gauche*/
nav ul li {
    display: block;
}
    .menu-lide {
        width: 100%!important;
        display: flex!important;
        flex-direction: column-reverse!important;
    }
    .menu-lid {
        width: 100%!important;
        float: none!important;
    }
    .menu-lid ul li {
        width: 88%!important;
  margin: 0px!important;
}
.menu-lid a:hover {
    width: 51%!important;
}
.sous {
    box-shadow: 4px 4px 9px #ed84af!important;
    width: 66%!important;
    top: 92px !important;
    left: 90px!important;
    border-radius: 5px;
}

.sous a {
    padding: 7px!important;
    margin-left:55px!important;
}
.Techno {
    width: 17%!important;
    margin-bottom: -9px!important;
    margin-left: 39px!important;
}
    .Techn{
        margin-bottom: -18px;
    }

    .Technologi {
        margin-top: 20px;
    }
    
    /*slide*/
    .carousel__viewport {
        left: 29px;
        height: 161px;
    }
    .carousel__navigation {
        bottom: 44px;
        left: 30px;
    }
    .carousel {
        padding-top: 42%;
        margin-left: 0;
        width: 100%;
    }
      
    /*bar de connection et recherche*/
    #logo{
        width: 8%;
    }
    .bar-connect {
        margin-top: 20px;
    }
    #search {
        height: 32.6px;
        width: 58%;
    }
    .search-bar {
        margin-top: 9px;
        margin-left: 21px;
    }
    #recherche{
            margin-top: -27px;
            margin-left: 2px;
        }
    #fan {
        top: 1px!important;
        font-size: 18px;
        margin-left: 5px;

    }
    #faa {
        left: -33px!important;
        top: 12px!important;

    }
    header {
        padding: 0 65px!important;
        margin-top: -37px;
        margin-bottom: 40px;
    }
    .panier {
        font-size: 8px;
        text-decoration: none;
        padding:none; 
    }
    /*connexion*/
    .open .mobile-menu {
        width: 31%!important;
        left: 234px!important;
        padding-top: 21px!important;
        margin-top: 20px!important;
    }
    /*footer*/

    .footer a:hover {
        background: #970147;
    }
    .footer ul a {
        font-size: 12px!important;
        margin: 0px!important;
    }
    #pach{
        display: none;
    }
    
#achat {
    font-size: 15px;
    margin-left: 35px;

}

.logo {
    margin-left: 31px;
}
    .men {
        flex-direction: row!important;
        background: white;
        height: 115px!important;
        margin-left: 23px!important;

    }
    .choi{
        display: none!important;
    }
    #meilleur-vente , #Nouveaux-Articles{
        margin-left: -51px;
    }
    }

/*Telephone*/
@media only screen and (min-width:481px) and (max-width: 768px) {
    #faaa{
        color: #95094d;
        margin-right: 152px;
        font-size: 26px!important;
    }

    h1{
        margin: 200px 0px 45px 67px!important;
    }    
    .imagetech,.imagefonhom,.imagfonfem {
        display: contents;}
/*menu de gauche*/
    nav ul li {
        display: block;
    }
        .menu-lide {
            width: 100%!important;
            display: flex!important;
            flex-direction: column-reverse!important;
        }
        .menu-lid {
            width: 100%!important;
            float: none!important;
        }
        .menu-lid ul li {
            width: 88%!important;
      margin: 0px!important;
    }
    .menu-lid a:hover {
        width: 51%!important;
    }
    .sous {
        box-shadow: 4px 4px 9px #ed84af!important;
        width: 80%!important;
        top: 92px !important;
        left: 90px!important;
        border-radius: 5px;
    }
    
    .sous a {
        padding: 7px!important;
        margin-left:55px!important;
    }
    .Techno {
        width: 78%!important;
        margin-bottom: -9px!important;
        margin-left: 116px!important;
    }
    .Techn {
        margin-bottom: 12px;
        margin-left: 71px;
    }
    
        .Technologi {
            margin-top: 20px;
        }
      
        

    nav ul li a{
        font-size: 15px;
       text-transform: uppercase;
    }
    a.active, a:hover {
        background: #970147;
        color: #70e0e5;
    }
    h1{
        margin: 51px 0px 45px 67px;
    }
   
    
    /*slide*/
    .carousel__snapper {
        height: 73%;
    }
    .carousel__viewport {
        left: 29px;
    }
    .carousel__navigation {
        bottom:60px;
        left: 29px;
    }
    .carousel {
        padding-top: 42%;
        margin-left: 0;
        width: 100%;
    }
      
    /*bar de connection et recherche*/
    #faa {
        top: 9px!important;
        left: 1px!important;

    }
    #logo{
        width: 8%;
    }
    .bar-connect {
        margin-top: 20px;
    }
    #search {
        height: 35.6px;
        width: 70%;
    }
    .search-bar {
        margin-top: 7px;
        margin-left: 26px;
    }
    #recherche{
            margin-top: -27px;
            margin-left: 2px;
        }
        .fa {
            font-size: 23px;
            top: -61px!important;
        }
    #fan {
        top: -3px!important;
        margin-left: 21px!important;
        margin-left: 3px!important;

    }
    #faan {
    font-size: 29px;
    top: -16px!important;
    left: -47px;
}
#myDIV {
    margin-left: -117px!important;
    margin-top: 56px!important;

}
    nav ul li {
        display: block;
    }
    .open .mobile-menu {
        left: 301px;
        margin-top: 59px;
    }
    /*footer*/
    .footer ul {
        font-size: 16px;
    }  
    #pach{
        display: none;
    } 
    #faaa {
        color: #95094d;
        margin-left: -68px;
        margin-top: -21px;
    }
    header {
        margin-top: -39px;
        margin-bottom: 20px;
    }
    
    .meilleur-vente{
        margin-left: -46px!important;
    }

    #Nouveaux-Articles{
        margin-left: -46px!important;

    }

    
    h1{
        margin: 5px 0px 5px 7px!important;
    } 
    
    .men {
        display: flex!important;
        flex-direction: row!important;
        margin-left: 26px!important;
        background: white!important;
        height: 154px!important;
    }
.choi{
    display: none; 
}
}
    
/*tablette*/


@media only screen and (min-width:769px) and (max-width: 1024px){
   
    header {
        padding: 0 168px;
        margin-top: -60px;
        margin-bottom: 39px;
        width: 94%;
        margin-left: 30px;
    }

    #faaa {
        color: #95094d;
        margin-left: -24px;
        margin-top: -6px;
    }

    .meilleur-vente{
        margin-left: -46px!important;
    }

    #Nouveaux-Articles{
        margin-left: -46px!important;

    }

    #pach{
        display: none;
    }
    h1{
        margin: 5px 0px 5px 7px!important;
    }
    .imagetech,.imagefonhom,.imagfonfem {
        display: contents;}
nav ul li {
    display: block;
}
.men {
    display: flex;
    flex-direction: row !important;
}
    .menu-lide {
        width: 100%!important;
        display: flex!important;
        flex-direction: column-reverse!important;
    }
    .menu-lid {
        width: 93%!important;
        float: none!important;
        margin-top: 60px;
    }
    .menu-lid ul li {
        width: 88%!important;
  margin: 0px!important;
}
.menu-lid a:hover {
    width: 51%!important;
}
.sous {
    box-shadow: 4px 4px 9px #ed84af!important;
    width: 73%!important;
    top: 70px !important;
    left: 29px!important;
    border-radius: 5px;
}

.sous a {
    padding: 7px!important;
    margin-left:55px!important;
}
.Techno {
    width: 17%!important;
    margin-bottom: 6px!important;
    margin-left: 39px!important;
}
    .Techn{
        margin-bottom: -18px;
    }

    .Technologi {
        margin-top: 20px;
    }
    
    #myDIV {
        margin-left: -92px!important;
    }
/*slide*/
.carousel {
    margin-left: 174px!important;
}
.carousel__navigation {
    bottom: -12px;
    left: 30px;
}

/*bar de connection et recherche*/
#logo{
    width: 8%;
}
.bar-connect {
    display: flex;
    width: 94%;
    margin-left: 30px;
}
/*
#search {
    height: 35.6px;
    width: 70%;
}*/
.search-bar {
    margin-top: 17px;
    margin-left: 114px;
}
.fa {
    font-size: 21px;
    top: -27px;
}

.header-account {
    margin-left: -46px;
    margin-top: -10px;
}
#con{
        margin-left: -50px;
        margin-top: 42px;    
}
 
.open .mobile-menu {
    width: 14%!important;
    left: 719px!important;
    height: 153px!important;
    padding-top: 29px!important;
    margin-top: 81px!important;
}

}
/*ordi*/
@media only screen and (min-width:1025px) and (max-width: 1200px){
    .search-bar {
        margin-left: 611px;
    }

    h1 {
        margin: 124px 0px 45px 47px;
    }
    .carousel {
        margin-left: 305px;
    }

}
/*ordi et tv*/
@media only screen and (min-width:1920px) {
    .search-bar {
        margin-left: 545px;
    }
#search {
    height: 55.6px;
    font-size: 27px;
}
.logo {
    margin-left: 115px;
}
.tir {
    margin-top: 97px;
}
#carousel__slide4 , #carousel__slide3, #carousel__slide2 ,#carousel__slide1 {
    background-size: cover;
}

.carousel__viewport {
    height: 395px;
}
.carousel__navigation-list{
    font-size: 66px!important;
}
.carousel {
    margin-left: 498px;
}
.Technologi{
  font-size: 20px;
}
.Techno {
  width: 12%;
}
.fa {
    font-size: 25px;;
    top: -39px;
}
.description{
    font-size: 30px;
}
.panier {
    font-size: 18px;
}
footer .social > a {
    font-size: 45px;
}
.footer ul a {
    font-size: 27px;
}
footer .social > a {
    width: 56px;
    height: 54px;
}
.footer .copyright {
    font-size: 23px;
}

.naa ul {
    margin-left: 653px!important;
}

nav ul li {
    margin: 0 93px!important;
}
}
/*Autre*/
 
@media (hover: hover) {
    .carousel__snapper {
      animation-name: tonext, snap;
      animation-timing-function: ease;
      animation-duration: 4s;
      animation-iteration-count: infinite;
    }
  
    .carousel__slide:last-child .carousel__snapper {
      animation-name: tostart, snap;
    }
  }
  
  @media (prefers-reduced-motion: reduce) {
    .carousel__snapper {
      animation-name: none;
    }
  }