
.men {
    margin-left: 161px;
    height: 234px;
    margin-bottom: 57px;
}
.imagetech img {
    width: 60%;
    margin-left: 35px;
    z-index: -1;
    position: relative;
    /* float: right; */
}