
.men {
    margin-left: 161px!important;
    height: 234px!important;
    margin-bottom: 57px!important;
}
.imagfonfem img{
        width: 60%;
        margin-left: 35px;
        z-index: -1;
        position: relative;
        /* float: right; */
    }