
.men {
    margin-left: 161px;
    height: 234px;
    margin-bottom: 57px;
}
.imagefonhom img {
    width: 85%;
    margin-left: -15px;
    z-index: -1;
    position: relative;
}

.imagefonhom {
    width: 70%;
    float: right;
    margin-bottom: 50px!important;
    margin-right: 76px;
}